* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container img {
    margin-bottom: 10px;
}

.login-container h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.login-container a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}