* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}
img{
    margin-right: 10px;
}
.product-card {
    cursor: pointer;
    transition: transform 0.2s;
}
.product-card:hover {
    transform: scale(1.05);
}
.cart-list {
    height: 400px;
    overflow-y: auto;
}
.total-price {
    font-size: 1.2rem;
    font-weight: bold;
}